<h1>Your Questions</h1>

    <% @topics.each do |topic| %>
				<div class="well">
				   <p><%= topic.question %></p>
		       <%= link_to 'Show', topic %>
		 			<% if !current_user.nil? && current_user == topic.user %>
		       |<%= link_to 'Edit', edit_topic_path(topic) %>|
		       <%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %>
		 			<% end %>
				</div>
    <% end %>

<br>

<%= link_to 'New Topic', new_topic_path %>
